li {
    list-style-type: none;
  }
  
.solutions-tabs-ul {
    width: 70% !important;
}
.solutions-content-ul {
    width: 90%;
    margin: 0 auto;
}
.toppic-title {
    margin-left: 10px;
}
.toppic-progress {
    margin-right: 10px;
}
/*解决方案详情 */
.solution-inform-content-all {
    background-color: #ffffff;
    width: 100%;
}
.solution-inform-content p {
    font-size: 16px;
}