.tabs_top{
    margin-top: 15px;
}

.cpi_active{
    margin-top: 10px;
}

/* 多行文字截断 */
.line-clamp {
    overflow : hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
     -webkit-line-clamp: 2; /* 这里修改为要显示的行数 */
    -webkit-box-orient: vertical;
  }

  [class*=am-u-]+[class*=am-u-]:last-child{
      float: left !important;
  }

