<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.itheima.ssm.mapper.PkhMapper" >
  <resultMap id="BaseResultMap" type="com.itheima.ssm.po.Pkh" >
    <id column="pid" property="pid" jdbcType="INTEGER" />
    <result column="pxm" property="pxm" jdbcType="VARCHAR" />
    <result column="psfz" property="psfz" jdbcType="VARCHAR" />
    <result column="plxdh" property="plxdh" jdbcType="VARCHAR" />
    <result column="pjtzz" property="pjtzz" jdbcType="VARCHAR" />
    <result column="pjtrk" property="pjtrk" jdbcType="VARCHAR" />
    <result column="ppkhsx" property="ppkhsx" jdbcType="VARCHAR" />
    <result column="pzyzpyy" property="pzyzpyy" jdbcType="VARCHAR" />
    <result column="pzyzpxxyy" property="pzyzpxxyy" jdbcType="VARCHAR" />
    <result column="pmz" property="pmz" jdbcType="VARCHAR" />
    <result column="pzt" property="pzt" jdbcType="VARCHAR" />
    <result column="tid" property="tid" jdbcType="INTEGER" />
    <result column="pshzt" property="pshzt" jdbcType="VARCHAR" />
    <result column="ptime" property="ptime" jdbcType="VARCHAR" />
    <result column="pfpcs" property="pfpcs" jdbcType="VARCHAR" />
    <result column="pjtnr" property="pjtnr" jdbcType="VARCHAR" />
    <result column="pgold" property="pgold" jdbcType="INTEGER" />
    <result column="pngold" property="pngold" jdbcType="INTEGER" />
    <result column="pxh" property="pxh" jdbcType="INTEGER" />
    <result column="pzy" property="pzy" jdbcType="VARCHAR" />
    <result column="pbj" property="pbj" jdbcType="VARCHAR" />
    <result column="pxb" property="pxb" jdbcType="VARCHAR" />
    <result column="pnl" property="pnl" jdbcType="VARCHAR" />
  </resultMap>
  <select id="query_zpyynumber" resultType="Pkh">
  SELECT pzyzpyy,COUNT(pzyzpyy) AS zpyynumber FROM pkh GROUP BY pzyzpyy
  </select>
</mapper>